################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/C45DecisionTree/Debug/C45DecisionTree.tlog
/C45DecisionTree/Debug/
/C45DecisionTree/C45DecisionTree.sln
/C45DecisionTree/C45DecisionTree.vcxproj.user
/C45DecisionTree/.vs/C45DecisionTree/v16
